* {
  box-sizing: border-box;
}

body {
  font-size: 17px;
  font-family: "Arial Regular", sans-serif;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;

}

.header {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #03a3df;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.main-header {
  grid-area: 2 / 1 / 3 / 2;
}

.classes {
  grid-area: 3 / 1 / 4 / 2;
}

.private-lessons {
  grid-area: 4 / 1 / 5 / 2;
}

.footer {
  grid-area: 5 / 1 / 6 / 2;
  background-image: url("../images/footer-image.jpg");
  background-size: cover;
  color: #ffffff;
  font-size: 14px;
}

.nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-right: 70px;
  margin-top: 35px;
}

.site-logo {
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-footer-links {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-footer-link-color {
  color: #ffffff;
}

.footer-links li + li:before,
nav li + li:before {
  content: "/";
  margin: 0 10px;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

ul {
  padding-inline-start: 0px;
}

address {
  font-style: normal;
}

.footer-image-text-container {
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 50px;
}

.footer-logo {
  margin-bottom: 20px;
}
