/*Banner image by Alex Guillaume on Unsplash: https://unsplash.com/@alx2bgx*/

* {
  box-sizing: border-box;
}

body {
  font-size: 17px;
  font-family: "Arial Regular", sans-serif;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #03a3df;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header-container {
  grid-area: 2 / 1 / 3 / 2;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
    ),
    url("../images/banner-image.jpg");
  background-size: cover;
  color: #ffffff;
}

.classes {
  grid-area: 3 / 1 / 4 / 2;
}

.private-lessons {
  grid-area: 4 / 1 / 5 / 2;
}

.classes,
.private-lessons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}

.classes > article,
.private-lessons > article {
  padding: 2rem;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);

}

.classes > article:hover,
.private-lessons > article:hover {
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}


.private-lessons-header {
  margin-top: 4rem;
}

.footer {
  grid-area: 5 / 1 / 6 / 2;
  background-image: url("../images/footer-image.jpg");
  background-size: cover;
  color: #ffffff;
  font-size: 14px;
  margin-top: 3rem;
}

.nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-right: 70px;
  margin-top: 35px;
}

.site-logo {
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-footer-links {
  list-style-type: none;
}

.main {
  margin-right: 4rem;
  margin-left: 4rem;
}

a {
  text-decoration: none;
  transition: text-decoration 1s ease;
}

a:hover {
  text-decoration: underline;
}

.nav-footer-link-color {
  color: #ffffff;
}

.footer-links li + li:before,
nav li + li:before {
  content: " / ";
  margin: 0 10px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

ul {
  padding-inline-start: 0px;
}

address {
  font-style: normal;
}

.footer-image-text-container {
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 50px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-address {
  margin-bottom: 20px;
}

.main-header-text {
  text-align: center;
  font-size: 40px;
  margin-left: 8rem;
  margin-right: 8rem;
}

.main-header-description {
  text-align: center;
  font-size: 24px;
  margin-left: 10rem;
  margin-right: 10rem;
}

h1 {
  font-family: "Arial Bold", sans-serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: "Arial Bold", sans-serif;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-family: "Arial Bold", sans-serif;
  font-size: 17px;
}

.main-header {
  text-align: center;
}


/********************ABOUT********************/

.about-video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

iframe {
  margin-top: 1.5rem;
}

.nondiscriminatory-policy {
  margin-top: 5rem;
}

.video-2 {
  margin-left: 11px;
}
